# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_metadata = "../output_data/weather_data.csv"
wdata = pd.read_csv(weather_metadata, encoding="utf-8")
wdata.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,izyum,35,UA,1586645522,74,49.21,37.25,37.96,10.38
1,cabo san lucas,75,MX,1586645522,52,22.89,-109.91,75.99,21.92
2,pisco,0,PE,1586645237,30,-13.70,-76.22,75.00,6.93
3,hasaki,75,JP,1586645321,93,35.73,140.83,48.20,10.29
4,najran,40,SA,1586645523,30,17.49,44.13,82.40,3.62

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)
places = wdata[["Lat","Lng"]]
places
humudity = wdata["Humidity"].astype(float)
humudity
maxhum = humudity.max()
maxhum
print(len(places), len(humudity), maxhum)

546 546 100.0

In [4]:
# Plot Heatmap
fig = gmaps.figure(map_type="HYBRID", layout={
        'width': '700px',
        'height': '600px',
        'padding': '3px',
        'margin': '0 auto 0 auto',
        'border': '1px solid black'
})

heat_layer = gmaps.heatmap_layer(places, weights=humudity,
                                 dissipating=False, max_intensity = maxhum, point_radius=1
                                )

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='3px', wiâ€¦

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
vacation_spot = wdata.loc[(wdata["Max Temp"] > 70)&(wdata["Max Temp"] < 80)&(wdata["Wind Speed"]<10)&(wdata["Cloudiness"]==0)]
print(len(vacation_spot))
if len(vacation_spot) > 10:
    vspot = wdata.loc[(wdata["Max Temp"] > 72)&(wdata["Max Temp"] < 78)&(wdata["Wind Speed"]<10)&(wdata["Cloudiness"]==0)]
    if len(vspot) >= 5 and len(vspot) <= 10:
        vacation_spot = vspot
    else:
        vspot = vspot.sort_values(["Max Temp"], ascending=False)
        vacation_spot = vspot.head(10)
#
print(len(vacation_spot))
vacation_spot.head()

7
7

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
2,pisco,0,PE,1586645237,30,-13.70,-76.22,75.00,6.93
7,yanam,0,IN,1586645523,83,16.73,82.22,78.57,2.28
56,tessalit,0,ML,1586645583,13,20.20,1.01,77.65,2.35
96,muddebihal,0,IN,1586645591,33,16.33,76.13,74.23,6.42
237,gulariya,0,NP,1586645766,30,28.23,81.33,73.35,2.89

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_temp = vacation_spot.reset_index(drop=True)
hotel_temp["Hotel Name"] = ""
hotel_temp

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,pisco,0,PE,1586645237,30,-13.70,-76.22,75.00,6.93,
1,yanam,0,IN,1586645523,83,16.73,82.22,78.57,2.28,
2,tessalit,0,ML,1586645583,13,20.20,1.01,77.65,2.35,
3,muddebihal,0,IN,1586645591,33,16.33,76.13,74.23,6.42,
4,gulariya,0,NP,1586645766,30,28.23,81.33,73.35,2.89,
5,banka,0,IN,1586645947,26,24.88,86.92,77.49,1.14,
6,athni,0,IN,1586646008,51,16.73,75.07,70.93,1.88,

In [7]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "rankby": "distance",
    "input": "hotel",
    "type": "lodging",
    "keyword": "hotel",
    "key": g_key,
}

# vloc = "25.21,64.64"
# params["location"] = vloc
# response = requests.get(base_url, params=params).json()
# print(response)
# results = response['results']
# print(results)

for index, row in hotel_temp.iterrows():
    
    vloc = str(row['Lat'])+","+str(row['Lng'])
    vcir = '< 5000@'+vloc

    params["location"] = vloc
    params["circle"] = vcir
    
    print(f"Fetching results for Index {index} City: {row['City']} Country: {row['Country']}")
    response = requests.get(base_url, params=params).json()
    
    results = response['results']
    i = 0
    found = 0
    for x in results:
          try:
              vname = results[i]['name']
              if "hotel" in vname.lower():
#                     print(f"Hotel Fund and the hotel name is {results[i]['name']} ")
                    hotel_temp.loc[index, 'Hotel Name'] = vname
                    found = 1
                    break
              i = i + 1
          except (KeyError, IndexError):
              print("Missing field/result...skipping.")
#     if found != 1:
#         hotel_df1.loc[index, 'Hotel Name'] = 'NaN'
#         print(f"Found Hotel for the City: {row['City']}")
#     else:
#         hotel_df1.loc[index, 'Hotel Name'] = 'NaN'

hotel_temp.head()

Fetching results for Index 0 City: pisco Country: PE
Fetching results for Index 1 City: yanam Country: IN
Fetching results for Index 2 City: tessalit Country: ML
Fetching results for Index 3 City: muddebihal Country: IN
Fetching results for Index 4 City: gulariya Country: NP
Fetching results for Index 5 City: banka Country: IN
Fetching results for Index 6 City: athni Country: IN

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,pisco,0,PE,1586645237,30,-13.70,-76.22,75.00,6.93,Gran Hotel Chincha en Pisco
1,yanam,0,IN,1586645523,83,16.73,82.22,78.57,2.28,The Regency Hotel
2,tessalit,0,ML,1586645583,13,20.20,1.01,77.65,2.35,
3,muddebihal,0,IN,1586645591,33,16.33,76.13,74.23,6.42,Pammu's Udupi Hotel
4,gulariya,0,NP,1586645766,30,28.23,81.33,73.35,2.89,OYO 347 Hotel New Atithi

In [8]:
hotel_df = hotel_temp[hotel_temp["Hotel Name"] != ""].reset_index(drop=True)
hotel_df.head()
narrowed_city_df = hotel_df
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,pisco,0,PE,1586645237,30,-13.70,-76.22,75.00,6.93,Gran Hotel Chincha en Pisco
1,yanam,0,IN,1586645523,83,16.73,82.22,78.57,2.28,The Regency Hotel
2,muddebihal,0,IN,1586645591,33,16.33,76.13,74.23,6.42,Pammu's Udupi Hotel
3,gulariya,0,NP,1586645766,30,28.23,81.33,73.35,2.89,OYO 347 Hotel New Atithi
4,banka,0,IN,1586645947,26,24.88,86.92,77.49,1.14,Hotel Krrish Inn
5,athni,0,IN,1586646008,51,16.73,75.07,70.93,1.88,Hotel Tanishq Lodging Boarding

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [11]:
# print(len(hotel_info))
# print(len(locations))

In [12]:
# Add marker layer ontop of heat map
# symbol_layer = gmaps.symbol_layer(locations, info_box_content=hotel_info)
# fig.add_layer(symbol_layer)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='3px', wiâ€¦